<section class="expertise">
  <h2>Compétences</h2>
  <div class="expertise-cards">

    <div class="expertise-card">
      <h3>Développement Front-end</h3>
      <p>
        En tant que Développeuse web, j'ai une expertise en développement front-end avec un accent particulier sur l’accessibilité. Je transforme des maquettes en interfaces réactives en utilisant des technologies comme HTML5, CSS3, JavaScript, et React. J'assure la compatibilité des sites sur tous les appareils tout en respectant les bonnes pratiques d'accessibilité (WCAG).
      </p>
      <div class="tech-list">
        <span>React</span>
        <span>TypeScript</span>
        <span>JavaScript</span>
        <span>HTML5</span>
        <span>CSS3</span>
        <span>SASS</span>
        <span>Wordpress</span>
      </div>
    </div>

    <div class="expertise-card">
      <h3>Back-end et API</h3>
      <p>
        Je maîtrise le développement back-end avec des technologies telles que Node.js, Express, et des bases de données comme MongoDB et MySQL. J'intègre des API et gère l’authentification ainsi que la sécurité des données pour offrir des solutions robustes et évolutives.
      </p>
      <div class="tech-list">
        <span>Git</span>
        <span>GitHub Actions</span>
        <span>PHP</span>
        <span>Algorithmie</span>
        <span>PostgreSQL</span>
        <span>MySQL</span>
        <span>Postman</span>
        <span>MongoDB</span>
        <span>Node.js</span>
        <span>Express</span>
      </div>
    </div>

    <div class="expertise-card">
      <h3>Organisation, SEO et Référencement</h3>
      <p>
        Je veille à la performance des sites avec une attention particulière au SEO et à l'optimisation pour le référencement naturel. J'utilise des outils comme Google Analytics, Chrome DevTools, et mets en place des pipelines CI/CD pour assurer une gestion de projet efficace et une mise en production fluide.
      </p>
      <div class="tech-list">
        <span>Notion</span>
        <span>Kanban</span>
        <span>Veille Technologique</span>
        <span>Chrome DevTools</span>
        <span>Google Analytics</span>
        <span>Prompt engineering</span>
      </div>
    </div>

  </div>
</section>